<div class="menu">

    <div class="breadLine">
        <div class="arrow"></div>
        <div class="adminControl">
            Olá, Visitante
       
        </div>
    </div>

    @* <div class="admin">
        <div class="image">
            <img src="Images/users/aqvatarius.jpg" class="img-polaroid" />
        </div>
        <ul class="control">
            <li><span class="icon-comment"></span><a href="messages.html">Messages</a> <a href="messages.html" class="caption red">12</a></li>
            <li><span class="icon-cog"></span><a href="forms.html">Settings</a></li>
            <li><span class="icon-share-alt"></span><a href="login.html">Logout</a></li>
        </ul>
        <div class="info">
            <span>Welcom back! Your last visit: 24.10.2012 in 19:55</span>
        </div>
    </div>*@

    <ul class="navigation">
        <li class="active">
            <a href="@Url.Action("Index", "Admin")">
                <span class="isw-grid"></span><span class="text">Dashboard</span>
            </a>
        </li>
        <li class="openable">
            <a href="#">
                <span class="isw-list"></span><span class="text">Cadastro</span>
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("AlunoListar", "Aluno")">
                        <span class="icon-th-large"></span><span class="text">Cadastro de Aluno</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MateriaListar", "Materia")">
                        <span class="icon-th-large"></span><span class="text">Cadastro de Materia</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="dr"><span></span></div>

</div>
