@model  IList<CadastroAluno.Domain.Materia>


@{
    ViewBag.Title = "Materia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid-view">
    @Html.Partial("_MateriaGrid", Model)
</div>
